:root {
  --primary-color:#007af3;
  --secondary-color:#ffffff;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: "Poppins", "Courier New", Courier, monospace;
}

.navbar {
  background: var(--secondary-color);
  padding: 1em;
}
.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}
.navbar .logo span {
  color: var(--primary-color);
}
.navbar nav {
  display: none;
}
.navbar .container {
  display: flex;
  place-content: space-between;
}
.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

.hero {
  text-align: center;
}
.hero .container {
  margin-top: 5em;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: 0.3;
}
.left-col h1 {
  font-size: 2em;
  line-height: 1.3em;
  margin-top: 0.2em;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}
nav ul.primary-nav {
  margin-top: 5em;
}
nav li {
  list-style: none;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}
nav li a:hover {
  font-weight: bold;
  color: lime;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
}
@media screen and (max-width: 700px) {
  .paragraph {
    margin: 1em;
    display: -ms-inline-flexbox;
  }
  .paragraph .paragraph-image {
    width: 150px;
    height: 150px;
    border-radius: 45%;
  }
  .paragraph .paragraph-statement {
    margin: 10px;
    text-align: center;
  }
}
@media screen and (min-width: 700px) {
  .paragraph {
    margin: 2em;
    display: flex;
  }
  .paragraph .paragraph-image {
    width: 300px;
    height: 300px;
    border-radius: 45%;
  }
  .paragraph .paragraph-statement {
    margin: 0 3em;
    text-align: center;
  }
}
footer {
  background: black;
  margin: 0 !important;
}
footer .shield {
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: var(--secondary-color);
}
footer .container-footer {
  background-color: black;
  color: var(--secondary-color);
}
footer .fa-github-square {
  color: var(--secondary-color);
  margin: 0 0.5em 0 1.5em;
}
footer .fa-linkedin {
  color: var(--secondary-color);
  margin: 0 0.5em 0 1.5em;
}
footer .fa-facebook {
  color: var(--secondary-color);
  margin: 0 0.5em 0 1.5em;
}
footer .shield-inner {
  margin: 0 0.5em 0 1.5em;
  color: var(--secondary-color);
  font-weight: normal !important;
}
footer .shield-outer {
  margin: 0 0.5em 0 1.5em;
  color: var(--secondary-color);
  font-weight: normal !important;
}
footer li {
  list-style: none;
}
footer .shield-text {
  color: var(--secondary-color);
  font-weight: normal;
  font-size: 14px;
}
footer .moreh {
  display: flex;
  text-align: center;
  place-content: space-between;
  margin: 0 4em;
}/*# sourceMappingURL=main.css.map */